body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  /* NEWLY ADDED */
  background: #d2a568 url(svgs/background.svg) repeat;
}


#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

main h2 {
  font-size: 28px;
}

h2 {
  margin-bottom: 30px;
}

main svg {
  display: flex;
  align-self: center;
  margin-right: 0;
}
main svg:not(:last-of-type) {
  margin-bottom: 20px;
}

footer {
  width: 100%;
  margin-top: 60px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* ======================================================================
                        MENU
========================================================================= */

.nav {
  display: flex;
  padding-left: 30px;
  margin-bottom: 30px;
}
.nav li {
  list-style: none;
  font-weight: bold;
  color: #39ADD1;
  margin-right: 2em;
}
.nav li:hover {
  color: #46d2fe;
}
.nav li:hover .svg-nav {
  fill: #46d2fe;
}

.svg-nav {
  height: 12px;
  margin-right: -5px;
  fill: #39ADD1;
}

/* ======================================================================
                        LOGO
========================================================================= */

#logo {
  width: 140px;
  height: 120px;
}
#logo .background {
  fill:#BA8058;
}
/* Hide the logo text */
#logo .text {
  display: none;
}
#logo .paw {
  fill:#F4C6A6;
}
/* Use the logo text in H1 instead*/
.logo-h1 {
  display: block;
  color: #EAAA7F;
}

/* ======================================================================
                        DOG IMAGES
========================================================================= */

.dogs-mr {
  margin-right: 20px;
}

/*.body {
  fill:#52595F;
  }*/
.nose_and_eyes {
  fill:#2D3339;
  }
.brows {
  fill:#DA8058;
}
.white {
  fill:#FBFEFF;
}

/* DOG BODY COLORS */
#dog-1 {
  color: #BA8058;
}
#dog-2 {
  color: #EAAA7F;
}
#dog-3 {
  color: #7e4822;
}
#dog-4 {
  color: #52595F;
}

/* ======================================================================
                        TRANSITION EFFECTS FOR MENU ICON AND LOGO HOVER
========================================================================= */

/*
SVGproperty {
  transition: transform .3s ease-out;
  transform-origin: 50% 50%; => OR use the cx cy values for px
  stroke: color;
}
SVGproperty:hover {
  fill: color;
  stroke-width: 8;
  transform: rotate(45deg) scale(1.3);

=> group using <g> and give it a class => then target => .class:hover SVGproperty
}

+ keyframes => animation sequences

@keyframes grow {
  0% {
  transform: scale(0);
  }
  30% {
  transform: scale(1.1);
  }
  60% {
  transform: scale(0.9);
  }
}

=====> ENDEC HECKING AT PAGE 9

*/

/* ======================================================================
                        425px+ MOBILE FIRST APPROACH
========================================================================= */

@media (min-width: 425px) {
  main {
    display: block;
    /*flex-direction: row;*/
    padding-top: 50px;
  }
  main svg {
    display: inline;
    /*margin-right: 0;*/
  }
  main svg:not(:last-of-type) {
    margin-bottom: 0;
  }
  h2 {
    /*margin-bottom: 30px;*/
  }
  .nav {
    margin-bottom: 75px;
  }
  #logo .text {
    display: block;
    fill:#EAAA7F;
  }
  /* This H1 will be used for the logo text on less than 425px screens*/
  .logo-h1 {
    display: none;
  }
  footer {
    margin-top: 100px;
  }
}








/**/
